/* pages/home/home.wxss */
.container {
    width: 100%;
}


/* banner  */
.swiper-view {
    width: 100%;
    height: 300rpx;
}

.swiper-view .img-item {
    width: 100%;
    height: 300rpx;
}

/* options */
.options-box {
    width: 100%;
    padding: 20rpx 0;
    display: flex;
    flex-wrap: nowrap;
}

.options-box .item {
    width: 200rpx; 
    display: flex;
    flex-direction: column;
}

.options-box .item .iconfont {
    width: 100rpx;
    height: 100rpx;
    background: #e20000;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 50rpx;
    line-height: 100rpx;
}

.options-box .item .text {
    font-size: 26rpx;
    text-align: center;
}

.panel {
    padding: 20rpx;
}
/* 每日推荐  */
.scroll-view {
    white-space: nowrap;
    margin-top: 20rpx;
}

.scroll-view-item {
    width: 200rpx;
    display: inline-block;
    margin-right: 20rpx;
}
    
.scroll-view .item-img {
    width: 200rpx;
    height: 200rpx;
    border-radius: 20rpx;
    background: sienna; 
    /* display: block; */
}

.scroll-view .item-text {
    font-size: 24rpx;
    overflow: hidden;  
    text-overflow: ellipsis;  
    display: -webkit-box;  
    -webkit-box-orient: vertical;  
    -webkit-line-clamp: 2;  
}


/* 排行榜  */
.top-list {
    padding: 20rpx;
}
  
.top-list-swiper {
    height: 440rpx;
}

.swiper-item {
    width: 96%;
    background: #fbfbfb;
}
.swiper-item .title {
    font-size: 30rpx;
    line-height: 80rpx;
}

.music-item {
    /* 当一个元素设置为flex，其子元素会自动成为block元素*/
    display: flex;
    margin-bottom: 20rpx;
}

.music-item image {
    width: 100rpx;
    height: 100rpx;
    border-radius: 6rpx;
}
  
.music-item .count {
    width: 100rpx;
    height: 100rpx;
    text-align: center;
    line-height: 100rpx;
}

.music-item .music-name {
    height: 100rpx;
    line-height: 100rpx;
    max-width: 400rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
